body {
   background-color: #330000;
}

.page-header {
    margin-top:27px;
    border-bottom-color: #FF0000;
}

.navbar-static-top {
margin-bottom: 0;
    border-bottom-width: 0;
}

@media (min-width: 768px) {
  .navbar-nav {
    width: 100%;
    text-align: center;
  }
  .navbar-nav > li {
    float: none;
    display: inline-block;
  }
  .navbar-nav > li.navbar-right {
    float: right !important;
  }
}

a .caret {
    color:#000000;
}

a:hover .caret {
    color:#FFFFFF;
}

.footer {
    width: 100%;
    height: 120px;
    background-color: #3d0000;
    color:white;
    padding-top:25px;
}

.jumbotron {
    background-image: url("file:///home/dev/Documents/Picture/imperialsys/red_sphere_fit.png");
    background-size:cover;
    background-color:black;
    min-height:500px;
}

.jumbotron h1 {
    font-size:90px;
    margin-top:50px;
}

.jumbotron h2 {
    margin-top:35px;
}

.jumbotron h3 {
    text-shadow:2px 2px 2px #000000;
}

.jumbotron .btn {
    margin-top:35px;
    border: 3px solid white;

}

.btn a:hover {
    background:transparent;
}

.btn{

    background: transparent;
    color: #F2F2F2;

    /* CSS Transition */
    -webkit-transition: background .2s ease-in-out, border .2s ease-in-out;
    -moz-transition: background .2s ease-in-out, border .2s ease-in-out;
    -ms-transition: background .2s ease-in-out, border .2s ease-in-out;
    -o-transition: background .2s ease-in-out, border .2s ease-in-out;
    transition: background .2s ease-in-out, border .2s ease-in-out;
}
